.auth__link-in {
    margin: 0;
    margin-top: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    transition: opacity 0.25s;
    text-decoration: none;
  }
  
  .auth__link-in:hover {
    opacity: 0.6;
    cursor: pointer;
  }