@import url(./vendor/normalize.css);
@import url(./fonts/Inter/inter.css);
@import url(./blocks/root/root.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__button/header__button.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__all/profile__all.css);
@import url(./blocks/profile/__button-new/profile__button-new.css);
@import url(./blocks/profile/__button-red/profile__button-red.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__icon/profile__icon.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__list-about/profile__list-about.css);
@import url(./blocks/profile/__list/profile__list.css);
@import url(./blocks/profile/__name/profile__name.css);

@import url(./blocks/card/card.css);
@import url(./blocks/card/__about/card__about.css);
@import url(./blocks/card/__element/card__element.css);
@import url(./blocks/card/__img/card__img.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__like/_active/card__like_active.css);
@import url(./blocks/card/__like-number/card__like-number.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__basket/card__basket.css);
@import url(./blocks/card/__basket/_hidden/card__basket_hidden.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input/_info/popup__input_info_about-profile.css);
@import url(./blocks/popup/__input/_info/popup__input_info_link-photo.css);
@import url(./blocks/popup/__input/_info/popup__input_info_name-photo.css);
@import url(./blocks/popup/__input/_info/popup__input_info_name-profile.css);
@import url(./blocks/popup/__input/_info/popup__input_info_avatar.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__close/_type/popup__close_type_card.css);
@import url(./blocks/popup/__close/_type/popup__close_type_photo.css);
@import url(./blocks/popup/__close/_type/popup__close_type_profile.css);
@import url(./blocks/popup/__close/_type/popup__close_type_avatar.css);
@import url(./blocks/popup/__close/_type/popup__close_type_confirm.css);
@import url(./blocks/popup/__edit/popup__edit.css);
@import url(./blocks/popup/__edit/_type/popup__edit_type_card.css);
@import url(./blocks/popup/__edit/_type/popup__edit_type_profile.css);
@import url(./blocks/popup/__edit/_type/popup__edit_type_confirm.css);
@import url(./blocks/popup/__edit/_type/popup__edit_type_avatar.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_type/popup__form_type_card.css);
@import url(./blocks/popup/__form/_type/popup__form_type_photo.css);
@import url(./blocks/popup/__form/_type/popup__form_type_profile.css);
@import url(./blocks/popup/__form/_type/popup__form_type_confirm.css);
@import url(./blocks/popup/__form/_type/popup__form_type_avatar.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_type/popup__save_type_card.css);
@import url(./blocks/popup/__save/_type/popup__save_type_profile.css);
@import url(./blocks/popup/__save/_type/popup__save_typy_confirm.css);
@import url(./blocks/popup/__save/_type/popup__save_type_avatar.css);
@import url(./blocks/popup/__save/_inactive/popup__save_inactive.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_type/popup_type_photo.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__photo-image/popup__photo-image.css);
@import url(./blocks/popup/__photo-name/popup__photo-name.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__auth/popup__auth.css);
@import url(./blocks/popup/__auth/_type/popup__auth_type_err.css);
@import url(./blocks/popup/__auth/_type/popup__auth_type_ok.css);

@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__sign-up/auth__sign-up.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/auth/__link-in/auth__link-in.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__info/auth__info.css);
@import url(./blocks/auth/__form/auth__form.css);
@import url(./blocks/auth/__button/auth__button.css);